
/*заголовок*/
.section__header {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 40px;
    text-align: center;
    
}

.section__title {
    padding-top: 40px;
    font-size: 35px;
    color:#020;
    font-family: 'Rokkitt', serif;
    text-transform: uppercase;
}
/*полоска под заголовком*/
.section__title:after {
    content: "";
    display: block;
    width: 250px;
    height: 1px;
    margin: 10px auto 150px;
    background-color: #020;
}

/*menu*/
.menu{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.menu__itemm{
    width: 50%;
    
}












