body{
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 18px;
    line-height: 1.6;
    color: #020;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/trava1.jpg") center no-repeat;
    background-size: cover;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 100vh;
    background: url("../images/btrava.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;


}
/*заголовок*/
.intro__title {
    color: #020;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 100px;
}
/*полоска под заголовком*/
.intro__title:after {
    content: "";
    display: block;
    width: 400px;
    height: 3px;
    margin: 20px auto 80px;
    background-color:  #fff;
}

.for__what {
    color: #020;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Raleway";
    margin-bottom: 25px;

}
/*Чуть увеличенный шрифт*/
.for__what2 {
    text-align: center;
    margin-top: 300px;
    color: #020;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Raleway";
    margin-bottom: 25px;

}
/*header*/
.header, .footer {
    display: flex;
    background-color: #708D00;
    color: #fff;
    padding: 0px 15px 0px 15px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*логотип*/
.header__logo{
    font-size: 25px;
    font-weight: 700;
    color: #020;
}

/*nav*/
.nav {
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
}
/*ссылки*/
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    color:#020;
    text-decoration:solid;
    transition: color 0.2s linear;
}

/*полоски под ссылками в правом верхнем углу*/
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
/*изменение цвета слова и полоски снизу при наводе мышкой*/
.nav__link:hover {
    color: #fff;
}
.nav__link:hover:after {
    display: block;
}
/*курсор при наводе на ссылки в хэдере*/
.headerButton {
    cursor: pointer;
}

/*кнопка*/

.btn {
    display: inline-block;
    padding: 8px 30px;
    border: 3px solid #020;
    font-size: 18px;
    font-weight: 700;
    color: #020;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}
/*изменение цвета слова при наводе мышкой*/
.btn:hover {
    background-color: #fff;
    color: #020;
}
/*footer*/
.footer {
    
    background: #708D00;
    -webkit-background-size: cover;
    background-size: cover; ;
}


/*2 страница описание приложения*/
.section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    background: #fff;
    
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
   
}

.section__title {
    text-align: center;
    font-size: 30px;
    color: #020;
    font-family: 'Rokkitt', serif;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.section__suptitle {
    text-align: center;
    font-size: 24px;
    color: #020;
    font-family: 'Raleway';
    margin-bottom: 10px;
}
/*menu*/
/*убрать все отступы*/
*{
    margin: 0;
    padding: 0;
}
/*убрать весь цвет и иконки*/
#nav{
	height: 70px;
}
#nav ul{
	list-style: none;
}
/*сделать горизонтальным*/
#nav > ul > li{
	float: left;
	width: 180px;
	position: relative;
}
/*добавить цвета*/
#nav li a{
	display: block;
	background-color: #708D00;
	border: 1px solid #020;
	color: #020;
	padding: 8px;
	text-align: center;
	text-decoration: none;
}
#nav li a:hover{
	
    color: #fff;
}

/*прячем вложенные списки*/
#nav li .second{
	display: none;
	position: absolute;
	top: 100%;
}
/*выпадение подпунктов*/
#nav li:hover .second{
	display: block;
}

#nav li li{
	width: 180px;
}


