body{
    margin: 0;
    font-family: 'Rokkitt', serif;
    font-size: 18px;
    line-height: 1.6;
    color: #020;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/*intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 100vh;
    background: url("../images/trava1.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;


}
/*заголовок*/
.intro__title {
    color: #020;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
/*полоска под заголовком*/
.intro__title:after {
    content: "";
    display: block;
    width: 400px;
    height: 3px;
    margin: 20px auto 236px;
    background-color:  #fff;
}

/*header*/
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*ссылка на скачивание приложения*/
.header__logo{
    font-size: 20px;
    font-weight: 700;
    color: #020;
}

/*nav*/
.nav {
    font-size: 20px;
    text-transform: uppercase;
}
/*ссылки*/
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    color:#020;
    text-decoration:solid;
    transition: color 0.2s linear;
}

/*полоски под ссылками в правом верхнем углу*/
.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
/*изменение цвета слова и полоски снизу при наводе мышкой*/
.nav__link:hover {
    color: #fff;
}
.nav__link:hover:after {
    display: block;
}

/*кнопка*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #020;
    font-size: 18px;
    font-weight: 700;
    color: #020;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}
/*изменение цвета слова при наводе мышкой*/
.btn:hover {
    background-color: #fff;
    color: #020;
}